<Title>Tiny Url</Title>
<% if(user){ %> 
<h4>Hello <%= user.id %></h4>
    <form action="/logout" method="GET">
    <input type="submit" value="LogOut">
    </form>
<% } else{ %>  
    <form action="/login" method="GET">
    <input type="submit" value="Login">
    </form
    
    <form ction="/register" method="GET">
    <input type="submit" value="Register">
    </form>

<% } %>