<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/_header %>
</head>
<body>
    <h1>URL</h1>
    <% for (var i in urls) { %>
    <li><%= urls[i] %> -> <%= i %>  %></li>
    <form method = "POST" action = "/urls/<%= i %>/delete">
        <input type = "submit" value = "Remove Link">
    </form>
    <a href="/urls/<%= i %>/update">edit</a>
    <% }; %>

</body>
</html>