<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <h1>URL</h1>
    <li><%= longURL %></li>

    <h1>Shortened URL</h1>
    <li><%= shortURL %>  %></li>

</body>
</html>