<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<% include partials/_header %>
    <h1>shortURL: <%= shortURL %></h1>
    <form action = "/urls/<%= shortURL %>/update" method = "POST" style = "margin:100px;">
    <label for = "longURL">Update URL:</label>
    <input id = "longURL" type = "text" name = "longURL" style="width: 300px">
    <input type="submit" value="Update">
    </form>
</body>
</html>