<Title>Tiny Url</Title>
<% if(user){ %> 
    <form action="/logout" method="GET">
    <input type="submit" value="LogOut">
    </form>
<% } else{ %>  
    <form action="/login" method="POST" style="margin:150px;">
    <label for="email">Enter email:</label>
    <input id="email" type="email" name="email" style="width: 150px">
    
    <label for = "password">password:</label>
    <input id="password" type="password" name="password" style="width: 150px">
    <input type="submit" value="Submit">
    </form>
    <form action="/register" method="GET">
    <input type="submit" value="Register">
    </form>

<% } %>